################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug
/obj/Debug
/packages
/.vs/BDD_TwoFA/v16/Server/sqlite3
/.vs/BDD_TwoFA/v16/.suo
/.vs/BDD_TwoFA/v16/TestStore/1/000-0000.testlog
/.vs/BDD_TwoFA/v16/TestStore/1/testlog.manifest
