<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>

    <add key="Browser" value="Chrome" />
    <add key="AppURL" value="https://sts-dev.dgw-dev.mod.uk/Login.aspx" />
    <add key="TwoFAUser" value="TwoFATest2" />
    <add key="TwoFAPassword" value="Wiggle123!" />
    <add key="apiEndPoint" value="https://privacyidea.dgw-dev.mod.uk" />
    <add key="APIuser" value="admin" />
    <add key="APIpsw" value="s0Ispabedro3rOJoKABr" />
    <add key="APIOTPNum" value="+447508155256" />
    
  </appSettings>
  
</configuration>